*{
    overflow: none;
}
.summary {
    display: none;
}

.center {
    margin: 0 auto;
}

.form-centered {
    position: relative;
    top:35%;
    left:10%;
    width:90%;
}

.spec {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.text-normal {
    color: gray;
}

.select-evaluate {
    font-family : 'FontAwesome', Arial;
}

.img-view {
    width: 800px;
    height: 280px;
}

#hospital__distancia {
    width: 80%;
}

.on-top {
    position: fixed;
}

.no-link {
    text-decoration: none;
    color: black;
}

.text-white {
    color: white
}

.btn-purple {
    background-color: purple;
    color: white;
}

#bloco {
    background-color: white;
    border: 2px solid;
    width: 80%;
}

.hr-beauty {
    border-color: #660066;
}

.text-beauty {
    color: #660066;
    font-weight: bold;
}

.resultado {
    background-color: white;
    box-shadow: 2px 5px 5px rgba(50, 50, 50, 0.17);
    padding: 5px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 40%;
}

.tab-content {
    height: 400px;
    overflow-y: auto;
    border: 3px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.row-avaliacoes {
    padding: 1px 1px 1px 15px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.pointer {
    cursor: pointer;
}

.form-control {
    max-width: 80%;
}

.form-group {
    padding: 5%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow: none; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 999;
}

#sidenav-content {
    position: absolute;
    width:100%;
    height: 500px;
    overflow:scroll;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #660066;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#demo {
    color: #660066;
}

#list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

#list ul li {
    border-bottom: 1px solid;
    padding: 5%;
    margin: 0 0 40px 0;
}

#list ul li:first-child {
  margin-top: 40px;
}

#list ul li a {
    color: black;
    display: block;
}

.content-planos {
    color: #333;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.errorMessage {
    color: red;
}

.no-padding-left {
    padding-left: 0px;
}

.main-container{
    position: relative; /* Set to absolute */
}
.alert-container {
    position: absolute; /* Set to absolute and positioned at top corner*/
    top: 0;
    left: 0;
}
.alert-content {
    position: absolute;   /* This moves it to the bottom (initial state) */
    bottom: 90%; 
    width: 100%;
    height: 10%;
    transition: bottom 1s;
}
.main-container:hover .alert-content {
    bottom: 50%;   /* This moves it to the middle (only on hover) */
}

fieldset {
    padding-bottom: 15px;
}

@media only screen and (max-width: 320px) {
    .content-planos {
        width: 140px;
    }

    .modal-body {
        height: 300px;
    }

    .buttons-index {
        line-height: 40px;
    }

    #img-userarea{
        height: 200px; 
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .content-planos {
        width: 135px;
    }

    .modal-body {
        height: 300px;
    }

    .buttons-index {
        line-height: 50px;
    }

    #img-userarea{
        height: 200px; 
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content-planos {
        width: 500px;
    }

    #sidenav-content {
        position: absolute;
        width:100%;
        height: 1000px;
        overflow:scroll;
    }

    .modal-body {
        height: 500px;
    }

    #img-userarea{
        height: 250px; 
    }
}

@media only screen and (min-width: 1224px) {
    .content-planos {
        width: 800px;
    }

    .modal-body {
        height: 400px;
    }

    #sidenav-content {
        height: 800px;
    }

    #img-userarea{
        height: 400px; 
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        height: 600px;
    }
}